* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-section {
  background: url("./images/Hero section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.hero_box {
  padding: 80px;
}
.hero-section h1 {
  line-height: 75px;
}
.hero_text {
  font-size: 15px;
  padding: 0px 200px;
}
.hero_box button {
  width: 120px;
  border-radius: 100px;
}
.hero_box img {
  margin-top: 45px;
  height: 150px;
}
.hero_box .image2 {
  position: relative;
  left: -70px;
}
.rate_feature {
  background: #F9FBFD;
}
.rate_feature .col-lg-4 p {
  font-size: 30px;
  font-weight: 700;
}
.vr {
  border: 3px solid #112232;
}
.about_section .col-lg-8 p.small {
  font-size: 16px;
}